<title>Welcome! Sign up below:</title>

<form method='POST' action='/signup'>
<p>username: <input type="text" name="username"></p><br>
<p>password: <input type="password" name="password"></p>
<input type="submit" value="Sign Up!" id="submit">
</form>