<h1>Welcome! Sign up below:</h1>

<form method='POST' action='/signup'>
<p>Username: <input type="text" name="username" /></p><br>
<p>Password: <input type="password" name="password" /></p>
<input type="submit" value="Sign Up!" id="submit">
</form>