<h1>Create New Car:</h1>

<form method='POST' action='/cars'>
<p>Year: <input type="text" name="year"></p>
<p>Make: <input type="text" name="make"></p>
<p>Model: <input type="text" name="model"></p>
<input type="submit" value="Create New Car" id="submit">
</form><br>

<form method='POST' action='/cars'>
<input type="submit" value="Back to Car Inventory">
</form>