<!DOCTYPE html>

  <head>
  
  <div class="content">
  


    <title>CarInventoryProject</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />


  </head>
  <body>

  

    <div class="wrapper">
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>CarInventory</strong></small>
      </footer>
    </div>

   
  </body>
</html>
