<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to the Car Inventory!</h1>

    <div class="content">
      <p>Welcome to the Car Inventory! Please Login In or Sign Up:</p>
      <a href="/login"><button>Log In</button></a> <a href="/signup"><button>Sign Up</button></a>
     
      
    </div>
    
  

  </div>
</div>
